<footer class="site-footer">
        <div class="cta-bar">
            <a routerLink="/contact"  class="cta-link"><strong>Click here</strong> to get in touch</a>
            <p class="cta-tagline">More than <span class="cta-just">just</span> <strong>DESIGNS!</strong></p>
        </div>
        <div class="footer-main darker-section">
            <div class="container footer-container">
                <nav class="footer-nav">
                    <ul>
                      
                     
                    <li ><a  routerLink="/" routerLinkActive="active">Homepage</a></li>
                    <li ><a  [routerLink]="['/case-study']">Case Studies</a></li>
                    <!-- <li ><a  routerLink="/about" routerLinkActive="active">About me</a></li> -->
                    <li ><a  routerLink="/contact" routerLinkActive="active">Contact me</a></li>
                    <li ><a  >Gallery</a></li>
                    
                </ul>
                </nav>
                <p class="footer-description">Built for environments where mistakes are expensive<br>
               and dashboards are expected to think.</p>
                <!--merged image-->
                <div class="social-links">
                    <a href="https://www.linkedin.com/in/upamanyu-naskar-58664437/" target="_blank"><img src="/assets/images/linkdin.png" alt="Social Icon 1"></a>
                    <a href="https://in.pinterest.com/upamanyusushmanaskar/" target="_blank"><img src="/assets/images/p.png" alt="Social Icon 2"></a>
                    <a href="tel:+917888735199" ><img src="/assets/images/call.png" alt="Social Icon 3"></a>
                    <a href="https://www.youtube.com/@atomicpsyche1329" target="_blank"><img src="/assets/images/you.png" alt="Social Icon 4"></a>
                    <a href="https://wa.me/917888735199" target="_blank"><img src="/assets/images/whatsapp.png" alt="Social Icon 5"></a>
                    <a href="https://www.instagram.com/walkwithmanyu/" target="_blank"><img src="/assets/images/insta.png" alt="Social Icon 6"></a>
                    <!-- <a href="#" target="_blank"><img src="/assets/images/facebook.png" alt="Social Icon 7"></a> -->
                </div>
            </div>
        </div>
        <div class="copyright-bar">
            <p>Upamanyu Naskar <strong>Portfolio</strong></p>
        </div>
    </footer>