<footer class="site-footer">
        <div class="cta-bar">
            <a routerLink="/contact"  class="cta-link"><strong>Click here</strong> to get in touch</a>
            <p class="cta-tagline">More than <span class="cta-just">just</span> <strong>DESIGNS!</strong></p>
        </div>
        <div class="footer-main darker-section">
            <div class="container footer-container">
                <nav class="footer-nav">
                    <ul>
                      
                     
                    <li ><a  routerLink="/" routerLinkActive="active">Homepage</a></li>
                    <li ><a  [routerLink]="['/case-study']">Case Studies</a></li>
                    <li ><a  routerLink="/about" routerLinkActive="active">About me</a></li>
                    <li ><a  routerLink="/contact" routerLinkActive="active">Contact me</a></li>
                    <li ><a  >Gallery</a></li>
                    
                </ul>
                </nav>
                <p class="footer-description">Donec accumsan mollis ultricies. Curabitur eget cursus dui. Proin
                    vulputate at purus id dignissim. Morbi auctor nec massa ut gravida. Aenean varius dolor quam. Duis
                    mollis sapien placerat arcu tempor dictum. Nunc congue, enim tristique eleifend placerat, leo erat
                    mattis nunc, laoreet fringilla lacus justo vestibulum risus.</p>
                <!--merged image-->
                <div class="social-links">
                    <a href="#"><img src="/assets/images/linkdin.png" alt="Social Icon 1"></a>
                    <a href="#"><img src="/assets/images/p.png" alt="Social Icon 2"></a>
                    <a href="#"><img src="/assets/images/call.png" alt="Social Icon 3"></a>
                    <a href="#"><img src="/assets/images/you.png" alt="Social Icon 4"></a>
                    <a href="#"><img src="/assets/images/whatsapp.png" alt="Social Icon 5"></a>
                    <a href="#"><img src="/assets/images/insta.png" alt="Social Icon 6"></a>
                    <a href="#"><img src="/assets/images/facebook.png" alt="Social Icon 7"></a>
                </div>
            </div>
        </div>
        <div class="copyright-bar">
            <p>Upamanyu Naskar <strong>Portfolio</strong></p>
        </div>
    </footer>