
:root {
    --color-primary: #289ee3;
    --color-text-dark: #414141;
    --color-text-light: #ffffff;
    --color-text-muted: #6a6a6a;
    --color-background-light: #ffffff;
    --color-background-dark: #0c0c0c;
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Inter', sans-serif;
}



/* your product design start  */

.form-label {
    font-weight: 600;
}

.form-control {
    border: none;
    border-bottom: 2px solid #000;
    border-radius: 0;
    box-shadow: none;
    width: 70%;
}
.heading-content {
	color: #414141;
	font-size: 16px;
}
.form-control:focus {
    border-color: #000;
    box-shadow: none;
}
.product-row h3{
    font-size: 30px;
    font-weight: bold;
    color: #414141;
    margin-bottom: 20px;
}
.form-label {
    font-size: 16px;
    font-weight: bold;
    color: #414141;
    margin-bottom: 0;
}

.form-control {
	font-weight: 700;
	font-size: 16px;
	line-height: 100%;
	color: #414141;
	padding-left: 0px;
}
form {
	margin-top: 30px;
}
.product-row {
    display: flex;
    align-items: center;
}
.your-product-img img{
    width: 100%;
}
.explore-button {
    background: radial-gradient(173.07% 205.27% at 50% 50%, #323232 0%, #1f1f1f 100%);
  border-radius: 5px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.79);
  color: #ffefef;
  font-size: 14px;
  padding: 12px 52px;
  text-decoration: none;
  white-space: nowrap;
  
}

.explore-button:hover {
  background: #0088FF;
  color: #ffffff;
  font-weight: 600;
}
.Submit-btn {
    margin-top: 50px;
}

@media (max-width: 767px){
    .your-product-img {
    margin-top: 30px;
}
.form-control {
    width: 100%;
}
}