
:root {
    --color-primary: #289ee3;
    --color-text-dark: #414141;
    --color-text-light: #ffffff;
    --color-text-muted: #6a6a6a;
    --color-background-light: #ffffff;
    --color-background-dark: #0c0c0c;
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Inter', sans-serif;
}


.endeavor-ul {
	list-style: disc;
	padding-left: 25px;
  margin-bottom: 25px;
}

hr.line {
    opacity: 1;
    margin-bottom: 271px;
}

/* object section start */
.object-left h3 {
    font-size: 100px;
    color: #414141;
    font-weight: 400;
}

.object-right p {
    font-size: 20px;
    color: #414141;
}

.object {
    margin-bottom: 275px;
}

/* table section start */
.table-box {
    border: 1px solid #414141;
    overflow: hidden;
}

.row-border {
    border-bottom: 1px solid #414141;
    margin-bottom: 55px;
}

.label-col {
    width: 20%;
    padding: 1.5rem;
    margin-bottom: 80px;
}

.content-col {
    padding: 1.5rem;
}

.col-md-3.label-col {
    color: #414141;
    font-size: 20px;
    font-weight: 500;
}

.module-title {
    font-weight: 600;
    font-size: 20px;
    color: #414141;
}

.table {
    padding: 0px 120px;
    margin-bottom: 41px;
}

.content-col p {
    font-size: 20px;
    color: #414141;
}

/* project form start */
.project-form-img img {
    width: 100%;
}

.project-form-row {
    display: flex;
    align-items: flex-end;
    margin-bottom: 40px;
}

.priject-form-head h3 {
    margin-bottom: 17px;
}
.project-form-content h3 {
    font-size: 20px;
    font-weight: bold;
    color: #414141;
    line-height: 26px;
  margin-bottom: 20px;
}
.priject-form-head h3 {
    font-size: 20px;
    font-weight: bold;
    color: #414141;
}
.project-form-content {
    padding-right: 170px;
}


/* CSS for section section:footer */

.footer-nav li {
    display: block;
}


@media (max-width: 767px) {
   
    .project-form-img img {
        margin-bottom: 30px;
    }

    .case-image img {
        width: 100%;
    }
    .table {
    padding: 0px 30px;}
}
.table-box {
    padding: 20px !important;
}

@media (max-width: 1023px) {
    .project-form-content {
        padding-right: 0px;
    }
   
}

@media (max-width: 1439px) {
    .object-left h3 {
        font-size: 50px;
    }
}