
:root {
    --color-primary: #289ee3;
    --color-text-dark: #414141;
    --color-text-light: #ffffff;
    --color-text-muted: #6a6a6a;
    --color-background-light: #ffffff;
    --color-background-dark: #0c0c0c;
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Inter', sans-serif;
}

.second-right-logo{
      object-fit: contain;
}
.name-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 120px;
    font-size: 24px;
}

.name-heading h2 {
    color: #000;
    font-weight: bold;
        font-size: 24px;
}

.name-heading p {
    color: #A2A2A2;
    font-size: 24px;
}
.experience-head.container h3 {
font-family: Inter;
font-weight: 700;
font-style: Bold;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
}
/* experience section start */
.experience-head {
    font-size: 16px;
    margin-bottom: 50px;
    color: #A2A2A2;
    font-weight: bold;
}

/* WePegasus-head section start */


.WePegasus-head h2 {
	font-size: 20px;
	font-weight: bold;
	color: #424242;
	margin-bottom: 0;
	font-family: Inter;
	font-weight: 700;
	font-style: Bold;
	font-size: 20px;
	line-height: 100%;
	letter-spacing: 0%;
  margin-bottom: 9px;
}
.product-owner p {
	font-family: Inter;
	font-weight: 500;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0%;
	color: #414141;
}
.wp-box-p {
	font-family: Inter;
	font-weight: 700;
	font-style: Bold;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0%;
	color: #A2A2A2;
	margin-bottom: 3px;
}
.WePegasus-head date {
    font-size: 14px;
    font-weight: bold;
    color: #a2a2a2;

}

.product-owner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #424242;
    margin-bottom: 10px;
}

.product-owner p {
    font-size: 14px;
    color: #414141;
    margin-bottom: 0;
}

.product-owner a {
    font-size: 16px;
    font-weight: bold;
    color: #289EE3;
    text-decoration: none;
}
.wp-content {
    margin-bottom: 44px;
}
.wp-box-last{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.wp-content p {
    font-size: 16px;
    color: #000;
}
.wp-content h4{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 15px;
}
.wp-box {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E4E4E4;
    margin-bottom: 50px;
}
.right-logo {
    text-align: center;
  display: flex;
  justify-content: center;
}
.case-study-btn {
	position: relative;
	top: -14px;
}

/* CSS for section section:footer */


.footer-main {
  padding: 116px 0 69px;
}

.footer-nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 61px;
  flex-wrap: wrap;
}


.footer-text {
  color: rgba(255, 255, 255, 0.56);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  max-width: 1518px;
  margin: 0 auto 28px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.social-icons img {
  width: 29px;
  height: 29px;
  background-color: #b5b5b5;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}

.social-icons a:nth-child(1) img {
  -webkit-mask-image: url('/assets/images/c907917adc225daa90dab43e4e77a1cf09819724.png');
  mask-image: url('/assets/images/c907917adc225daa90dab43e4e77a1cf09819724.png');
}

.social-icons a:nth-child(2) img {
  -webkit-mask-image: url('/assets/images/f0191409bb77b932ecd1ba4dc24369e2f0d87955.png');
  mask-image: url('/assets/images/f0191409bb77b932ecd1ba4dc24369e2f0d87955.png');
}

.social-icons a:nth-child(3) img {
  -webkit-mask-image: url('/assets/images/2df5183c6706db9a4c5a206a98809b2707afc46e.png');
  mask-image: url('/assets/images/2df5183c6706db9a4c5a206a98809b2707afc46e.png');
}

.social-icons a:nth-child(4) img {
  -webkit-mask-image: url('/assets/images/10909ee194210733652943547d9b1f32bd82fbde.png');
  mask-image: url('/assets/images/10909ee194210733652943547d9b1f32bd82fbde.png');
}

.social-icons a:nth-child(5) img {
  -webkit-mask-image: url('/assets/images/e21a53757e910e156a477ea8f5ee6706e7081de6.png');
  mask-image: url('/assets/images/e21a53757e910e156a477ea8f5ee6706e7081de6.png');
}

.social-icons a:nth-child(6) img {
  -webkit-mask-image: url('/assets/images/286753659549eefc4df939455b8e0a3a7af2a4f2.png');
  mask-image: url('/assets/images/286753659549eefc4df939455b8e0a3a7af2a4f2.png');
}

.social-icons a:nth-child(7) img {
  -webkit-mask-image: url('/assets/images/05c13d8645e3d92ef38e582a245908937f1ffd72.png');
  mask-image: url('/assets/images/05c13d8645e3d92ef38e582a245908937f1ffd72.png');
}

.footer-bottom-bar {
  background: linear-gradient(180deg, #0184ff 0%, #6fb8fd 100%);
  box-shadow: inset 0px 7px 14px 0px rgba(0, 0, 0, 0.5);
  text-align: right;
  padding: 20px 80px;
}

.footer-bottom-bar p {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
}

.footer-bottom-bar p strong {
  font-weight: 700;
}



@media (max-width: 768px) {
  
  .footer-nav {
    gap: 15px;
  }

  .footer-bottom-bar {
    text-align: center;
    padding: 20px;
  }
  img {
    width: 40%;
    margin: 25px
}
}
@media (max-width: 1162px) {
  img.katysis1 {
  border-right: none;
    margin: 26px;
}
}
@media (max-width: 1390px) {
  .product-owner {
    display: block;
}
.product-owner p {
    margin-bottom: 15px;
}
}

@media (max-width: 767px) {
  .right-logo {
	flex-wrap: wrap;
}
 


  .footer-nav {
    gap: 15px;
  }

  .footer-bottom-bar {
    text-align: center;
    padding: 20px;
  }
  img {
    width: auto;
}
.tag-btn img{
    width: auto;
}
img.katysis2 {
    width: auto;
}
}
@media (max-width: 1162px) {
  img.katysis1 {
  border-right: none;
            margin: 30px 0;
}
}
@media (max-width: 1390px) {
  .product-owner {
    display: block;
}
.product-owner p {
    margin-bottom: 15px;
}
}
