
:root {
    --color-primary: #289ee3;
    --color-text-dark: #414141;
    --color-text-light: #ffffff;
    --color-text-muted: #6a6a6a;
    --color-background-light: #ffffff;
    --color-background-dark: #0c0c0c;
    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Inter', sans-serif;
}


/* img endeavor section start */
.endeavor-li li{
    color: #000;
}
.Endeavor-img img {
    margin-bottom: 78px;
}

/* endeavor section start */

.endeavor-li {
	list-style: disc;
	padding-left: 25px;
	margin-bottom: 25px;
}



hr.line {
    opacity: 1;
    margin-bottom: 80px;
}

.ufc-img {
    text-align: center;
    width: 100%;
    padding-left: 140px;
}

.ufc-section-2 {
    background-color: #Fff;
    text-align: center;
}

.ufc-section-2 img {
    margin-bottom: 50px;
    margin-top: 50px;
}

.ufc-section-2 p {
    margin: 0 268px;
    font-size: 20px;
    margin-bottom: 84px;
    line-height: 186%;
}

.ufc-section-2 h3 {
    font-size: 30px;
    font-weight: bold;
    color: #414141;
    margin-bottom: 6px;
}
.challenges-left.col-md-6 p,
.Execution-right.col-md-6 p {
	margin-bottom: 15px;
}
.athlete-app h4 {
	font-size: 18px;
	font-weight: 700;
	line-height: 131%;
	letter-spacing: 0px;
	color: #414141;
}
/* ufc section start */
/*challenges and excution section start  */
.challenges-left h3 {
    font-size: 30px;
    font-weight: bold;
    color: #000;
    margin-bottom: 30px;

}

.challenges-left {
    background-color: #F4F4F4;
    padding: 45px;
}

.Execution-right h3 {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 30px;
    background-color: #1062B0;
}

.Execution-right strong {
    color: #fff;
}

.Execution-right p {
    color: #fff;
}

.Execution-right {
    background-color: #1062B0;
    padding: 45px;
}

.challenges-excution {
    margin-bottom: 45px;
}

.athlete-app img {
    width: 100%;
    margin-bottom: 30px;
}

.athlete-app h4 h5 {
    font-size: 16px;
    font-weight: bold;
    color: #414141;
    margin-bottom: 10px;
}

.athlete-app p {
    font-size: 16px;
    font-weight: 400;
    color: #414141;
    margin-bottom: 50px;
}
.athlete-app p {
	margin-top: 10px;
}
.athlete-head {
    color: #414141;
    opacity: 45%;
    font-weight: 700;
}

.athlete-1 {
    color: #414141;
    opacity: 45%;
}

p.athlete-1 {
    margin-bottom: 20px;
}

/* Athlete section start */
.UFC-Athlete {
    border-left: 1px solid;
}

.UFC-Athlete h5 {
    margin-bottom: 30px;
    color: #000;
    line-height: 135%;
    font-size: 30px;
  font-weight: 400;
}

.Orientation {
    display: flex;
    border-bottom: 1px solid #C8C8C8;
    align-items: baseline;
    padding-bottom: 10px;
  margin-bottom: 10px;
}

.Orientation h6 {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    width: 25%;
}

.Orientation p {
    color: #000;
    font-size: 16px;
    font-weight: 300
}

/* section-2 start */
.section-2-img {
    margin-top: 45px;
    margin-bottom: 60px;
}
.intro-2 {
	margin-top: 12px;
}
.design-head p {
	margin-top: 10px;
	margin-bottom: 20px;
}
.magic-ul{
	list-style: disc;
	padding-left: 21px;
	margin-top: 21px;
}
.clossing{
	list-style: disc;
	padding-left: 21px;
}
.magic-p {
	margin-top: 15px;
}
.section-3-img {
    text-align: center;
    margin-bottom: 60px;
}

/* intro section start */
.intro h5 {
    color: #414141;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.intro p {
    color: #414141;
    font-size: 16px;
    font-weight: 300;
}

.intro-2 h6 {
    color: #414141;
    font-size: 20px;
    line-height: 140%;
    font-weight: 400;
    margin-bottom: 80px;
}

.img-3 {
    text-align: center;
    margin-bottom: 45px;
}

/* Design Considerations section start */
.design-head h3 {
    font-size: 30px;
    font-weight: bold;
    color: #414141;
    margin-bottom: 11px;
}

.design-head h4 {
    font-size: 16px;
    font-weight: bold;
    color: #414141;
}

.design-head p {
    font-size: 16px;
    font-weight: 400;
    color: #414141;
}

.Design-Considerations-section {
    display: flex;
    margin-bottom: 45px;
}

.Design-Considerations {
    padding-right: 125px;
}

/* story section start */
.story h3 {
    font-size: 30px;
    font-weight: bold;
    color: #414141;
    margin-bottom: 10px;
}

.story-p {
    font-size: 16px;
    font-weight: bold;
    color: #414141;
    margin-bottom: 20px;
}

.story-1 {
    font-size: 16px;
    font-weight: 400;
    color: #414141;
    margin-bottom: 20px;
}

.magic h4 {
    font-size: 16px;
    font-weight: bold;
    color: #414141;
    margin-top: 30px;
}

.magic li {
    font-size: 16px;
    ;
    color: #414141;
}

.magic {
    margin-bottom: 70px;
}

/* Closing-Study section start */
.Closing-Study h5 {
    margin-bottom: 10px;
    color: #Fff;
    font-size: 16px;
    font-weight: bold;
}

.Closing-Study h4 {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 14px;
}

.Closing-Study {
    background-color: #818181;
    padding: 30px;
    margin-left: -12px;
}

.Closing-Study p,
ul {
    color: #Fff;
    margin-bottom: 30px;
}

.name h5 {
    margin-bottom: 90px;
}

.project-img-head h5 {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 18px;
}

.prject-img {
    display: flex;
    justify-content: space-around;
}

.prject-img img {
    width: 32%;
}


@media (max-width: 768px) {
    .cta-bar {
        flex-direction: column;
        height: auto;
        padding: 20px;
        gap: 10px;
    }

    .cta-link {
        font-size: 16px;
    }

    .cta-link a {
        font-size: 16px;
    }

    .cta-tagline {
        font-size: 20px;
    }

    .footer-main {
        padding: 40px 0;
    }

    .footer-nav ul {
        gap: 15px;
    }

    .social-links {
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }
}


@media (max-width: 767px) {
    .challenges-left {
    padding: 40px 20px!important;
}
.Execution-right {
    padding: 40px 20px;
}
   .ufc-section-2{
        text-align: left;
   }
   .ufc-section-2  h3 {
    font-size: 24px;
}
    .cta-bar {
        flex-direction: column;
        height: auto;
        padding: 20px;
        gap: 10px;
    }

    .cta-link {
        font-size: 16px;
    }

    .cta-link a {
        font-size: 16px;
    }

    .cta-tagline {
        font-size: 20px;
    }

    .footer-main {
        padding: 40px 0;
    }

    .footer-nav ul {
        gap: 15px;
    }

    .social-links {
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .Design-Considerations-section {
        display: block;
        margin-bottom: 45px;
    }

    .section-3-img img {
        width: 100%;
    }

    .ufc-img {
        padding-left: 0px;
    }

    .Orientation {
        display: block;
        margin-top: 20px;
    }

    .ufc-logo.container img {
        width: 100%;
    }
}

@media (max-width: 1023px) {
    .cta-bar {
        display: flex;
        justify-content: space-around;
        padding: 0px;
    }

    .ufc-section-2 p {
        margin: 0;
        margin-bottom: 50px;
    }

    .Design-Considerations {
        padding-right: 10px;
    }

    .section-3-img img {
        width: 60%;
    }

    .Orientation h6 {

        width: 100%;
    }

}